<div class="comments">
  <div class="comment_header">
    <h3>댓글</h3>
  </div>
  <div class="comments_list">
    <%= render "comments/list" %>
  </div>
  <div class='comments_form'>
    <%= render "comments/form" %>
  </div>
</div>

