<!-- facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&appId=264193273740912&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- twitter -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<!--
  <span><a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></span>
-->

<footer>
  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <hr>
        <div class="pull-right">
        <div class="fb-like" data-href="http://undefined.kr" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
        <small style="font-family:monaco;menlo">
         Copyright ©2014 undefined.kr (언디파인드).
        </small></div>
    </div>
  </div>
</footer>