  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <hr>
      <small style="font-family:monaco;menlo">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <p>Contributed by <a href="http://twitter.com/rkjun">rkJun</a>
        <br/>Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>,
        <a href="http://tipjs-team.github.io/tipJS/">tipJS</a>,
        <a href="http://jquery.com/">jQuery</a>,
        <a href="http://nodejs.org">nodeJS</a>,
        <a href="http://sailsjs.org/">sailsJS</a>.
      </small>
    </div>
  </div>