<!DOCTYPE html>
<html class="no-js" lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="undefine:D, 언디파인드 - 프로그래머를 위한 지식저장소입니다.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="rkJun">
    <link rel="shortcut icon" href="/favicon.ico">
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/font-awesome.css">
    <!--STYLES END-->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/js/common/jquery-2.1.1.js"></script>
    <script src="/js/common/bootstrap.js"></script>
    <script src="/js/common/plugins/jquery.pjax.js"></script>
    <script src="/js/common/plugins/plugins.js"></script>
    <script src="/js/common/plugins/markdown.js"></script>
    <!--SCRIPTS END-->

  </head>

  <body>
    <%- partial('header') %>

    <div id="body-pjax-container">
    <%- body %>
    </div>
    
    <%- partial('footer') %>


    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44966749-1', 'undefined.kr');
      ga('send', 'pageview');
    </script>
  </body>
</html>
