<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%- title %></title>
    <meta name="description" content="undefine:D,undefined,javascript,html5,css3,frontend,undefineDev,webdev,web">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="author" content="rkJun">
    <link rel="shortcut icon" href="favicon.ico">
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap-theme.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/common.css">
    <!--STYLES END-->
    </head>

    <body>

      <div id="wrap">
      <%- body %>
      </div>

      <!--SCRIPTS-->
      <script src="/linker/js/socket.io.js"></script>
      <script src="/linker/js/sails.io.js"></script>
      <script src="/linker/js/app.js"></script>
      <script src="/js/common/jquery-2.0.3.js"></script>
      <script src="/js/common/bootstrap.js"></script>
      <script src="/js/common/tipJS.dev.js"></script>
      <script src="/js/app/qnaboard/app.js"></script>
      <script src="/js/app/user/app.js"></script>
      <script src="/js/common/plugins/plugins.js"></script>
      <!--SCRIPTS END-->
      

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
      
          // (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          // function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          // e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          // e.src='//www.google-analytics.com/analytics.js';
          // r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
          // ga('create','UA-XXXXX-X');ga('send','pageview');
      </script>
    </body>
</html>
