<div class="span4 well">
	<div class="row">
		<div class="span1"><a href="http://critterapp.pagodabox.com/others/admin" class="thumbnail"><img src="http://critterapp.pagodabox.com/img/user.jpg" alt=""></a></div>
		<div class="span3">
			<p>admin</p>
          	<p><strong>First Last Name</strong></p>
			<span class=" badge badge-warning">8 messages</span> <span class=" badge badge-info">15 followers</span>
		</div>
	</div>
</div>