<h2>undefined.kr<small> ruby on rails</small></h2>
<p>: <%= Time.now %></p>
<p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>
<br />
<%= link_to "ê¸€ì‘ì„±", posts_path, class:'btn btn-default' %>