<div class="row">
  <div class="col-md-7">
    <h1>undefined.kr<small> 언디파인드</small></h1>
  </div>
  <div class="col-md-5">
    <div id="fb-root"></div>
    <div class="fb-like" data-href="http://www.undefined.kr" data-width="250" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-no-turbolink></div>
  </div>
  <div class="col-md-12">
    <p>각자의 관심사를 공부하고, 공유합니다.</p>
    <p>사용자 수 : <%= link_to User.count, users_path %> 명 등록함.</p>
    <br />
    <%= link_to "전체 글 목록 (#{Post.count})", posts_path, class:'btn btn-default' %>

    <%= link_to "페이스북 저장 글 목록 보기 (#{Fblog.count})", fblogs_path, class:'btn btn-default' %>
  </div>
</div>