<div class="container">
  <header>
    <div class="row">
      <div class="col-md-3">
        <h2 class="well">
          <!-- <img src="/images/undefined_kr_logo_for_light_background.png" /> -->
          undef<img src="/favicon.ico" height="23px" width="25px" title="i"/>ne:D
        </h2>
      </div>
      <div class="col-md-9 col-md-offset0">
        <p class="lead">undefine:D (언디파인드) 는 한달에 한번, 각자의 지식과 관심사를 공유하는 웹 개발자 모임입니다.</p>
        <p><blockquote>"Reality can destroy the dream. Why shouldn't the dream destory reality?"<br/>
          "현실이 꿈을 파괴할 수 있는데, 꿈이라고 현실을 파괴할 수 없겠는가."<small>George Moore (조지 무어)</small></blockquote></p>
      </div>
    </div>
  </header>

  <section id="top-section-list">
    <!--
    <a href="/board/write">
      <button type="button" id="btn_write" class="btn btn-primary pull-right" data-loading-text="Loading...">
        <span class="glyphicon glyphicon-pencil"></span> 글쓰기</button>
    </a>
  -->

      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p class="well" align="center">
            2013월 10월 25일 (금)<br/> 
            오후 7시 30분 ~ 오후 9시 30분<br/>
            토즈 강남 2호점
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p align="center">
            <a href="/offline/off18">
              <button type="button" id="btn_reg19" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-record"></span> 18번째 모임 참가신청
              </button>
            </a>
          </p>
        </div>
      </div>
  </section>
</div>
<!-- /container -->