<script>
$(document).ready(function() {
  tipJS.loadApp("user");
});
</script>

<%- partial('../header') %>

<div class="container">

<header>
  <div class="row">
    <div class="span6">
      <h1 class="hidden">undefine:D </h1>
      <p class="lead hidden">JavaScript, HTML5, CSS3, Developer, Designer, 한달에 한번씩 각자의 관심사를 공부, 공유합니다.</p>
      <p>undefine:D 사이트를 베타 오픈 합니다. By <a href="http://twitter.com/rkjun">rkJun</a></p>
    </div>
    <div class="span4 offset2 hidden">
      <div class="well">
        <img src="/images/undefined_kr_logo_for_light_background.png" />
      </div>
    </div>
  </div>
</header>

<section id="top-section-list">
  <a href="/board/write"><button type="button" id="btn_write" class="btn btn-primary pull-right" data-loading-text="Loading..."><i class="icon-pencil"></i> 글쓰기</button></a>
  <div class="container-fluid margin-top5 border-bottom-hr">
  </div>

</section>
      
     <%- partial('../footer') %>

    </div>
<!-- /container -->