<div class="container">
  <header>
    <div class="row">
      <div class="col-md-3">
        <h2 class="well">
          <!-- <img src="/images/undefined_kr_logo_for_light_background.png" /> -->
          undef<img src="/favicon.ico" height="23px" width="25px" title="i"/>ne:D
        </h2>
      </div>
      <div class="col-md-9 col-md-offset0">
        <p class="lead">undefine:D (언디파인드) 는 한달에 한번, 각자의 지식과 관심사를 공유하는 웹 개발자 모임입니다.</p>
        <p><blockquote>"Reality can destroy the dream. Why shouldn't the dream destory reality?"<br/>
          "현실이 꿈을 파괴할 수 있는데, 꿈이라고 현실을 파괴할 수 없겠는가."<small>George Moore (조지 무어)</small></blockquote></p>
      </div>
    </div>
  </header>

  <section id="top-section-list">
    <!--
    <a href="/board/write">
      <button type="button" id="btn_write" class="btn btn-primary pull-right" data-loading-text="Loading...">
        <span class="glyphicon glyphicon-pencil"></span> 글쓰기</button>
    </a>
  -->

       <div class="row">
<!--         <div class="col-md-8"></div> -->
        <div class="col-md-12">
          <p class="">
            <h2>프로그래머들의 기술과 정보, 지식공유의 장, undefine:D (undefined.kr)</h2><br/> 
            <span id="fbgDesc"></span><br/>
           </p>
          <p>
            <span id='fbtest'>
              그간 바쁘다는 핑계로 몇개월이 넘도록 사이트 업데이트를 하지 못했습니다.<br/>
              이제 그나마 짬이 남아, 본격적으로 사이트 개발에 매진해 보려고 합니다.<br/>
              조금만 더 기다려 주세요. :D
            </span>
          </p>
        </div>
      </div>

           </p>
        </div>
      </div>

<!--       <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <p align="center">
            <a data-pjax href="/offline/off?no=19">
              <button type="button" id="btn_reg19" class="btn btn-lg btn-primary">
                <span class="glyphicon glyphicon-record"></span> 19번째 모임 참가신청
              </button>
            </a>
          </p>
        </div>
      </div>
 -->
<script>
  $.getJSON("http://graph.facebook.com/188080051308169", function(data) {
    //JSON.stringify(data);
    var returnHtml = "";
    //$("#top-section-list").html(returnHtml);

    $("#fbgUrl").attr("href", "http://facebook.com/" +data.id).html(data.name);
    $("#fbgDesc").html(data.description);
  });

var fbUrl ="https://graph.facebook.com/188080051308169/feed?access_token=CAACEdEose0cBAKy1H4v3IIPkuYgITFlzomH1ClW0HQyhZANKvCJpZBRyh0cBPb3oJPLzasbgaV8rjiIQvq3f0Y0gjun7ZBGZBv1uQUgucfOSIT3aGHriTWElpsMKY6OtE49Ux4PL7hnQoR3OL1qQ1l1dRTiKs5otcCTxUA0r11E42A7Alyp8s1YaZBtPpKfwZD";

  var global;
  $.getJSON(fbUrl, function (data2) {
    var a = JSON.stringify(data2);
    console.log('hi');

    global = data2;

    var users = { id, name, wcnt:0 };
    var arr;
    $(global.data).each(function(index) {
      // this.id
      //this.message 주제
      // this.comments 
      // this.from.id , name
      /// this.likes id, name
      // this.
      // 
      //console.log ( this.message );
      if (this.from.id.indexOf(users.id) > -1) {
          arr[0] = 
          users.wcnt

      }

    });

    //$("#fbtest").text(a);

    //while ( data2.paging.next != null && data2.paging.next != "") {

      //} 

    console.log('hi2');

  });


</script>
  </section>
</div>
<!-- /container -->