<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="./">undefine:D</a>
            <div class="nav-collapse collapse">
                <ul class="nav"  role="navigation">
                    <li><a href="">Organizers</a></li>
                    <li><a href="../#qna">Q&A</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" id="drop1" role="button" data-toggle="dropdown" data-target="#" href="../">Board <b class="caret"></b></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="http://google.com">Q&A</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#anotherAction">frontend 지식창고</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">frontend trend</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">생존신고</a></li>
                        </ul>
                    </li>
               </ul>
               <form class="navbar-search pull-left" action="">
                 <input type="text" class="search-query span2" placeholder="Search">
               </form>

                <ul class="nav pull-right" id="main-menu-right">
                    <li><a rel="tooltip" target="_blank" href="https://www.facebook.com/groups/html5jsstudy/" title="undefine:D facebook group"></i><i class="icon-facebook-sign"></i> undefine:D facebook group</i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">

<header>
  <div class="row">
    <div class="span6">
      <h1 class="hidden">undefine:D </h1>
      <p class="lead hidden">JavaScript, HTML5, CSS3, Developer, Designer, 한달에 한번씩 각자의 관심사를 공부, 공유합니다.</p>
      <p>undefine:D 사이트를 베타 오픈 합니다. By <a href="http://twitter.com/rkjun">rkJun</a></p>
    </div>
    <div class="span4 offset2 hidden">
      <div class="well">
        <img src="/images/undefined_kr_logo_for_light_background.png" />
      </div>
    </div>
  </div>
</header>

<!-- Typography
================================================== -->
<section id="top-question-list">

  <div class="container-fluid" style="margin-top: 5px; border-bottom: 1px solid #D9D9D9;">
    <div class="row">
      <div class="span1">
        <div><p class="label">10,000 조회</p></div>
        <div><p class="label label-success">10,000 추천</p></div>
        <div><p class="label label-important">100 댓글</p></div>
      </div>
      <div class="span10 pull-right">
        <h5>질문입니다.</h5>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo...</p>
        <span class="badge">java</span>
        <span class="badge">javaScript</span>
        <span>2013-07-02, rkJun</span>           
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-top: 5px; border-bottom: 1px solid #D9D9D9;">
    <div class="row">
      <div class="span1">
        <div><p class="label">10,000 조회</p></div>
        <div><p class="label label-success">10,000 추천</p></div>
        <div><p class="label label-important">100 댓글</p></div>
      </div>
      <div class="span10 pull-right">
        <h5>질문입니다.</h5>
        <p>Nullam quis risus eget urna mollis ornare vel eu leo...</p>
        <span class="badge">java</span>
        <span class="badge">javaScript</span>
        <span>2013-07-02, rkJun</span>           
      </div>
    </div>
  </div>
  
</section>

     <!-- Footer
      ================================================== -->
      <hr>

      <footer id="footer">
        <p class="pull-right"><a href="#top">Back to top</a></p>
         Made by <a href="http://twitter.com/rkjun">Juntai Park</a>.<br/>
        
        Based on <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>. Icons from <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts">Google</a>. nodeJS and sailsJS.</p>
      </footer>

    </div><!-- /container -->