<h2><%= params[:bulletin_id] %></h2>

<%= render 'form' %>

<hr>
<%= link_to 'Show', [current_user, @post], class: 'btn btn-default' %>
<%= link_to 'Back', user_posts_path, class: 'btn btn-default' %>