$light-orange: #ff8c00;
$navbar-default-color: $light-orange;
$navbar-default-bg: white;
$navbar-default-link-color: gray;
$navbar-default-link-active-color: $light-orange;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: black;

$navbar-height: 35px;
$font-size-base: 14px;

@import 'bootstrap';
@import 'posts';
@import 'comments';

@import 'font-awesome/font-awesome';

body { padding-top: 60px; }

.table > tbody > tr > td {
  vertical-align: middle;
}

.preline {
  white-space: pre-line;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #FFFFFF;
  background-color: #563d7c;
  border-color: #563d7c;
}
