$light-orange: #ff8c00;
$weight-blue: #563d7c;
$navbar-default-color: $weight-blue;
$navbar-default-bg: white;
$navbar-default-link-color: $weight-blue;
$navbar-default-link-active-color: $weight-blue;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: $weight-blue;

$navbar-height: 35px;
$font-size-base: 13px;

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'posts';
@import 'comments';
@import "pagedown_bootstrap";

@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

// @import 'font-awesome/font-awesome';


body { 
  padding-top: 60px; 
  font-family: "Helvetica Neue", "Nanum Barun Gothic", "NanumBarunGothicOTF", "Nanum Gothic", Helvetica, Arial, sans-serif;
  color: "#563d7c";
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.preline {
  white-space: pre-line;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle {
  color: #FFFFFF;
  background-color: #563d7c;
  border-color: #563d7c;
}

.navbar-brand {
  font-family: "verdana"
}

section h1 {
  font-size: 20px;
}

.wmd-input{
  height:200px;
}

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}