<footer>
  <!-- Footer -->
  <div id="footer">
    <div class="container">
      <hr>
      <div class="pull-right">
        <small style="font-family:monaco,menlo, consolas">
          Copyright ©2015 undefined.kr (언디파인드).
        </small>
      </div>
    </div>
  </div>
</footer>